/* NETFLİX TİTLE BEBAS  NEU AND ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');
/* SHOURT CUT TİTLE */
/* 
    font-family: 'Bebas Neue', sans-serif; 
    font-family: 'Roboto', sans-serif;
*/

/* BOOTSTRAP İCON LİBRARY */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* BASE CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    height: 100vh;
    width: 100%;
}

body {
    height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

:root {
    --netflix-red: #E50914;
    --symbol-red: #B20710;
}

/* BTN SETTİNGS */
.btn-netflix {
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid var(--netflix-red);
    background-color: var(--netflix-red);
    color: #fff;
    font-weight: bold;
    font-family: sans-serif; 
    cursor: pointer;
}

.btn-netflix:hover {
    opacity: .9;
}

.btn-large {
    padding: 10px 30px;
    padding-bottom: 16px;
    border: none;
    border-radius: 6px;
    background-color: var(--netflix-red);
    color: #fff;
    font-size: 1.4rem;
    font-family: 'roboto',sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.btn-large:hover {
    opacity: .9;
}

.bi-chevron-right {
    font-size: 1rem;
}

@media (max-width: 1272px) {
    #wrapper-row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .wrapper-content {
        text-align: left;
        font-size: 1rem;
    }

    #footer-row {
        display: flex;
        flex-wrap: wrap;
       margin: -6% 0%;
    }

    .footer-col {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 20px 50px;    
    }
}

/* RESPONSİVE MAX WİDTH 1142PX */

@media (max-width: 1142px) {
    .tv-play-img img{
        height: 50vh;
    }

    #mobile-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 0px 0%;
    }

    #desktop-row {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 0px 0%;
    }

    .desktop-col-header {
        font-size: 2.5rem;
        width: 100%;
    }
    
    .desktop-col-text {
        width: 100%;
    }

    #children-row {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 0px 0%;
        column-gap: 0px;
    }

    .children-header {
        font-size: 2.5rem;
        width: 100%;
    }
    
    .children-text {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .main-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 0%;
    }

    .nav-input-box {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }

    .nav-input-box input {
        padding: 20px 10px;
        width: 90%;
    }

    .nav-input-box label {
        position: absolute;
        top: 20px;
        left: 25px;
    }

    .tv-play-row {
        justify-content: center;
        margin: 0px 5%;
        flex-wrap: wrap;
        text-align: center;
    }

    .tv-play-img img{
        height: 40vh;
    }

    .tv-play-header {
        width: 100%;
        font-size: 2rem;
    }

    .mobile-img{
        display: flex;
        justify-content: center;
        position: relative;
    }

    .mobile-phone-img {
        height: 50vh;
        width: 50%;
        object-fit: cover;
    } 

    .mobile-img-box img {
        height: 10vh;  
    }

    .mobile-img-box {
        top: 290px;
        left: 15%;
        padding: 5px 20px;
        padding-right: 90px;
    }
    

    .mobile-download-icon {
        right: 30px;
        top: 30px;
        font-size: 1rem;
    }
    
    .desktop-img img {
        height: 40vh;
    }

    .chlidren-col img {
        height: 40vh;
        width: 100%;
        object-fit: cover;
    }

    .wrapper-desc {
        font-size: 1rem;
    }
    
    .wrapper-col {
        width: 90%;
        padding: 20px;
        margin: 1px 5%;
        height: 10vh;
    }

    .wrapper-col:focus {
        height: 40vh;
    }

    .wrapper-form {
        margin: 40px 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .wrapper-form-header {
        font-size: 1rem;
        width: 100%;
        margin: 0px;
    }

    .wrapper-input-box {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 0px;
        row-gap: 20px;
    }

    .wrapper-input {
        width: 100%;
    }

    footer {
        bottom: 0px;
        height: auto;
    }
}

@media (max-width: 429px) {
    .nav-header {
        font-size: 2rem;
        margin: 0px;
    }

    .nav-desc {
        font-size: 1rem;
        margin: 10px;
    }

    .nav-header-text {
        font-size: 1.1rem;
        margin: 16px 0px;
        width: 100%;
    }

    .tv-play-img img{
        height: 30vh;
    }

    .mobile-img-box {
        left: 5%;
    }

    .desktop-img img {
        height: 35vh;
    }

    .wrapper-col:focus {
        height: 50vh;
    }

    .wrapper-content {
        font-size: .9rem;
    }
}